<%= form_for(@genre) do |f| %>
  <%= render "shared/errors", object: @genre %>
  <fieldset>
    <ol>
      <li class="required">
        <%= f.label :name %>
        <%= f.text_field :name, autofocus: true %>
      </li>
      <% unless @genre.new_record? %>
        <li class="required">
          <%= f.label :slug %>
          <%= f.text_field :slug, size: 30 %>
        </li>
      <% end %>
    </ol>
    <p>
      <%= f.submit %>
      <%= link_to "Cancel", genres_path, class: "button" %>
    </p>
  </fieldset>
<% end  %>