<article id="movie" class="movie">
  <header>
    <%= image_for(@movie) %>
    <h1><%= @movie.title %></h1>
    <h2>Released: <%= @movie.released_on %></h2>
  </header>

  <p>
    <%= @movie.description %>
  </p>
  
  <h3 class="no-rule">
    <%= @movie.rating %> &bull; <%= @movie.duration %> 
  </h3>
  
  <h3>Cast</h3>
  <p>
    <%= @movie.cast %>
  </p>
  
  <h3>Director</h3>
  <p>
    <%= @movie.director %>
  </p>
  
  <h3>Total Gross</h3>
  <p>
    <%= format_total_gross(@movie) %>
  </p>

  <h3>Average Review</h3>
  <p>
    <%= format_average_stars(@movie) %>
  </p>

  <% if @movie.recent_reviews.any? %>
    <p>
      <%= link_to "Recent Reviews", "#", id: "reviews-link" %>
    </p>
    <section id="reviews-section">
      <ol id="reviews">
        <%= render @reviews %>
      </ol>
      <p id="reviews-count">
        Read all <%= link_to pluralize(@movie.reviews.count, "review"), 
                        movie_reviews_path(@movie) %>
      </p>      
      <% @review = @movie.reviews.new %>
      <%= render "reviews/form", remote: true %>
    </section>
  <% end %>  
  
  <footer>
    <nav>
      <% if current_user_admin? %>
        <%= link_to 'Edit', edit_movie_path(@movie), class: 'button' %>
        <%= link_to 'Delete', @movie, 
                    class: 'button',
                    method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
      <p>
        <%= link_to "Write Review", new_movie_review_path(@movie),
                    class: "button ok review" %>
      </p>                  
    </nav>
  </footer>
</article>